body{overflow:hidden;font-family:'Montserrat',sans-serif}
:focus {outline: none!important}
.is-passion{font-family:'Passion One',cursive;font-weight:700}
.qt-playertype-header .qt-menubar{z-index:99999!important}
.qt-content-primary-dark,.qt-menubar,.qt-mobile-menu,.qt-desktopmenu a{background-color:#101010;background-color:#101010}
.qt-menubar-top,.qt-menubar,.qt-side-nav,.qt-menu-footer{font-family:Khand,Helvetica,Arial,sans-serif;font-weight:400;font-style:normal;letter-spacing:.05em;text-transform:uppercase}
.qt-menubar{line-height:4.242rem;height:4.242rem;position:relative;z-index:300;margin:0;padding:0;display:table}
nav{width:100%;height:56px;line-height:56px}
nav a{color:#FFF}
nav ul{margin:0}
ul{padding:0}
.qt-menubar ul.qt-desktopmenu > li{line-height:4.242rem;height:4.242rem;display:inline-block;float:left;position:relative}
nav ul li{-webkit-transition:background-color .3s;transition:background-color .3s;float:left;padding:0}
.qt-menubar ul.qt-desktopmenu > li > a{padding:0 1.4rem;line-height:4.242rem}
.qt-menubar .brand-logo{position:relative;margin:0 5px 0 0}
.qt-menubar ul a{top:10%!important;vertical-align:top}
.qt-logo-text img{height:47px!important}
.hide-on-xl-only{display:none!important}
.qt-menubar ul.qt-desktopmenu > li.right{border-left:1px solid rgba(255,255,255,0.38)}
.qt-menubar ul.qt-desktopmenu > li{line-height:4.242rem;height:4.242rem;display:inline-block;float:left;position:relative}
.right{float:right!important}
nav ul li{-webkit-transition:background-color .3s;transition:background-color .3s;float:left;padding:0}
.qt-menubar ul.qt-desktopmenu > li > a{padding:0 1.4rem;line-height:4.242rem}
.qt-menubar ul a{top:10%!important;vertical-align:top}
.qt-content-primary-dark,.qt-menubar,.qt-mobile-menu,.qt-desktopmenu a{background-color:#101010}
.s-date{display:inline!important;position:absolute;right:268px;top:0;z-index:99999}
.qt-menubar ul.qt-desktopmenu > li > a{padding:0 1.4rem;line-height:4.242rem}
.qt-menubar ul a{top:10%!important;vertical-align:top}
.dark-wrapper{background:#000}
.hero.is-transparent,.section.is-transparent{background:transparent!important}
.hero{position:relative}
.hero .animation-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;max-height:100vh}
.headertop{font-weight:700}
.headertop .hero-body{background:url(../images/header/header.jpg) no-repeat top;position:relative;z-index:0;background-attachment:fixed}
.headertop .hero-body img{position:absolute;bottom:0;right:-5%;max-width:60%}
.headertop h3::before{background:#da004b;content:" ";position:absolute;z-index:-100;width:34%;height:25px;top:12px;left:-8px}
.headertop a{color:#FFF}
.headertop .title.is-1{font-size:4.2rem}
.headertop p{font-size:.8rem}
.content-wrapper{padding:20px 0;position:relative;z-index:2}
.content-wrapper.is-medium{padding:40px 0}
.content-wrapper.is-large{padding:60px 0}
.section{outline:none!important;position:relative}
.section:active,.section:focus{outline:none!important}
.section.is-relative{position:relative}
.section.is-dark{background:#3c019e}
.section.is-darker{background:#320184}
.section.is-darkest{background:#270068}
.section.is-blanco{background:#FFF}
.section.is-rosa{background:#da004b}
.section .has-bg-shapes{width:100%;height:100%;position:absolute;bottom:0;right:0;z-index:0}
.cta-wrapper{margin:30px 0}
.cta-wrapper.is-small{margin:20px 0}
.title.is-light,.subtitle.is-light{color:#fff}
.title.is-light+p,.subtitle.is-light+p{color:#fff}
.title.is-tight,.subtitle.is-tight{margin-bottom:10px!important}
.title.is-compressed,.subtitle.is-compressed{margin-bottom:5px!important}
.title.main-title{text-shadow:4px 4px 2px rgba(150,150,150,0.1)}
.subtitle.is-compact{max-width:600px;margin:0 auto}
.is-size-0{font-size:4.2rem!important}
.no-space{margin:0!important}
.is-pink{color:#da004b}
.is-blue{color:#0d27ff}
.is-white{color:#FFF}
.is-black{font-weight:900;clear:both}
.is-bg-gris{background:#f6f6f6}
.is-numeracion{font-weight:100!important;font-size:48px;top:4px;position:relative;margin-right:10px}
.is-petit{font-size:.9rem!important}
#evento .caja{border:1px solid #da004b;padding:12%;font-size:12px;font-weight:700}
#evento h1.title::before{content:" ";position:absolute;background:#da004b;height:26px;width:28%;z-index:-1;top:32px;left:29%}
.batalla{background:url(../images/02-duelo.jpg) no-repeat right bottom;background-size:50% auto;padding-bottom:20%;background-size:49%;margin-bottom:6%!important}
.batalla h1.title::before{content:" ";position:absolute;background:#da004b;height:30px;width:70%;z-index:-1;top:40px;left:-4px}
#batallas h4.title{padding-right:10px}
#batallas h4.title::before{content:" ";position:absolute;background:#da004b;height:18px;width:50%;z-index:-1;top:10px;right:0}
.fin{padding:0;margin-top:-10%}
#competidores .slider{margin:5% 0 0;background:url(../images/competidores/finalistas.png) no-repeat 16% 0;background-size:auto;background-size:30%}
.hero.has-carousel .hero-carousel{position:relative!important}
.has-carousel{min-height:690px}
.bg-pink{background:#da004b;padding:5px;color:#FFF;margin-bottom:20px}
#carousel-competidores h1{line-height:90%;text-transform:uppercase;margin-bottom:20px}
#carousel-competidores .bg-pink{float:left}
#carousel-competidores .bio{font-size:.8em}
.big-triangle{position:relative}
.big-triangle::before{right:0;border-right:1500px solid transparent;border-left:1000px solid}
.big-triangle:after{left:100%}
.big-triangle:after,.big-triangle:before{content:'';position:absolute;bottom:0;width:100%;z-index:100;border-bottom:160px solid #ae0a4c;-moz-transform:rotate(0.000001deg);-webkit-transform:rotate(0.000001deg);-o-transform:rotate(0.000001deg);-ms-transform:rotate(0.000001deg);transform:rotate(0.000001deg)}
#jueces h1.title::before{content:" ";position:absolute;background:#0d27ff;height:21px;width:33%;z-index:-1;top:38%;left:17%}
#jueces{position:relative}
#jueces::before{background-image:url(../images/bg-jueces.jpg);background-size:cover;content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;opacity:.2;background-attachment:fixed}
#jueces .container{position:relative;z-index:2}
#jueces .caja{border:1px solid #0d27ff;padding:12%;font-size:12px;font-weight:700}
#jueces .caja h4{color:#0d27ff}
#jueces h3.title::before{content:" ";position:absolute;background:#0d27ff;height:21px;width:47%;z-index:-1;top:16px}
.video-button{position:relative;height:54px;width:54px;background:#0f9;background:linear-gradient(to right,#0f9,#3cf)!important;border-radius:50%;margin:0 auto;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;z-index:2;cursor:pointer}
.video-button img{position:relative;display:block;width:24px;height:24px;left:2px;z-index:3}
.video-button:after{content:'';position:absolute;top:calc(50% - 12px);left:calc(50% - 12px);height:24px;width:24px;border-radius:50%;background:#0f9;background:linear-gradient(to right,#0f9,#3cf)!important;-webkit-animation:pulse 1.6s infinite;animation:pulse 1.6s infinite;-webkit-animation-duration:2s;animation-duration:2s;-webkit-transform-origin:center center;transform-origin:center center;z-index:0}
.feature{text-align:center}
.feature img{display:block;margin:0 auto;max-height:120px}
.feature h4{margin-top:10px}
.feature p{font-size:.9rem;opacity:.8}
.side-feature{max-height:500px}
.side-feature-content .title{display:-ms-flexbox;display:flex;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-align:center;align-items:center}
.side-feature-content img{max-height:40px;width:40px}
.side-feature-content p.is-light{color:#fff;opacity:.8}
.side-feature-content p.is-light-blue{color:#d5ebff}
.side-feature-content h3 span{padding:0 10px}
.flying-child img{border:1px solid}
.flying-tabs-container{max-width:760px;margin:0 auto}
.flying-tabs-container .flying-tabs .flying-child{display:inline;text-align:center;vertical-align:top}
.flying-tabs-container .flying-tabs .flying-child.is-active a{color:#0d27ff!important;font-weight:700}
.flying-tabs-container .flying-tabs a{display:inline-block;width:19.5%;padding:.75rem 0;text-decoration:none;color:#fff;transition:all .3s}
.flying-tabs-container .flying-tabs a:hover{color:#0d27ff}
.flying-tabs-container .flying-tabs .tab-1.is-active{margin:0}
.flying-tabs-container .flying-tabs .tab-2.is-active ~ .slider{margin-left:20%}
.flying-tabs-container .flying-tabs .tab-3.is-active ~ .slider{margin-left:40%}
.flying-tabs-container .flying-tabs .tab-4.is-active ~ .slider{margin-left:60%}
.flying-tabs-container .flying-tabs .tab-5.is-active ~ .slider{margin-left:80%}
.flying-tabs-container .flying-tabs .slider{height:2px;border-radius:10px;width:20%;margin:0;background:#7F00FF;background:linear-gradient(to top,#7F00FF,#3f00fc)!important;border:none;transition:.3s ease-in-out}
.tab-content{display:none;min-height:312px;margin-top:40px}
.tab-content.is-active{display:block}
.tab-content img{height:320px;-webkit-animation-delay:.3s;animation-delay:.3s}
.tab-content h4.title{font-style:italic}
.tab-content h4.title::before{content:" ";position:absolute;background:#0d27ff;height:29px;width:20%;z-index:-1;top:-7%;left:-2%}
.tab-content .text-content p{-webkit-animation-delay:.15s;animation-delay:.15s}
.button.is-blue{color:#0d27ff;transition:all .5s;border:1px solid #0d27ff;background:transparent;margin-top:30px;border-radius:10px}
.button.is-blue:hover{opacity:.8}
.events-content{position:relative;width:100%;min-height:300px;overflow:hidden;transition:height .4s}
.events-content ol{list-style-type:none}
.events-content li{position:absolute;z-index:1;width:100%;left:0;top:0;max-width:700px;margin:0 auto;-webkit-transform:translateX(-100%);transform:translateX(-100%);padding:40px;background:rgba(39,0,104,0.4);border-radius:4px;color:#fff;opacity:0;-webkit-animation-duration:.4s;animation-duration:.4s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
.events-content li.selected{position:relative;z-index:2;opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
.events-content li.enter-right,.events-content li.leave-right{-webkit-animation-name:cd-enter-right;animation-name:cd-enter-right}
.events-content li.enter-left,.events-content li.leave-left{-webkit-animation-name:cd-enter-left;animation-name:cd-enter-left}
.events-content li.leave-right,.events-content li.leave-left{-webkit-animation-direction:reverse;animation-direction:reverse}
.events-content li>*{margin:0 auto}
.events-content li .title-wrapper{display:-ms-flexbox;display:flex;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-align:center;align-items:center}
.events-content li .title-wrapper img{height:60px;display:block}
.events-content li .title-wrapper div{padding:0 10px}
.events-content li .event-title{font-weight:600;font-size:1.2rem;font-weight:700;line-height:1.2}
.events-content li small,.events-content li p{line-height:1.6}
.events-content li small{display:block;font-size:.75rem;margin:5px auto}
.events-content li p{font-size:.9rem;color:rgba(94,147,255,0.9)}
@media only screen and (min-width: 1100px) {
.krypton-timeline{margin:40px auto}
.krypton-timeline:before{content:'desktop'}
}
@-webkit-keyframes cd-enter-right {
0%{opacity:0;-webkit-transform:translateX(100%)}
100%{opacity:1;-webkit-transform:translateX(0%)}
}
@keyframes cd-enter-right {
0%{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%)}
100%{opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%)}
}
@-webkit-keyframes cd-enter-left {
0%{opacity:0;-webkit-transform:translateX(-100%)}
100%{opacity:1;-webkit-transform:translateX(0%)}
}
@keyframes cd-enter-left {
0%{opacity:0;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
100%{opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%)}
}
.freestyle-footer{padding:100px 40px;background:url(../images/footer.jpg);text-align:center;position:relative;min-height:400px}
.freestyle-footer .footer-logo img{height:75px;margin-top:20%}
.freestyle-footer .footer-columns{padding:40px 0;position:relative;z-index:1}
.freestyle-footer .footer-columns .footer-links{display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-ms-flex-align:center;align-items:center}
.freestyle-footer .footer-columns .footer-links li a{position:relative;text-transform:uppercase;font-weight:500;font-size:.8rem;color:#fff;padding:10px 0}
.freestyle-footer .footer-columns .footer-links li a:before{content:"";position:absolute;bottom:0;left:0;width:100%;-webkit-transform-origin:right center;transform-origin:right center;height:2px;background:#0f9;background:linear-gradient(to right,#0f9,#3cf)!important;-webkit-transform:scale(0,1);transform:scale(0,1);transition:-webkit-transform .4s cubic-bezier(0.4,0,0.2,1);transition:transform .4s cubic-bezier(0.4,0,0.2,1);transition:transform .4s cubic-bezier(0.4,0,0.2,1),-webkit-transform .4s cubic-bezier(0.4,0,0.2,1);transition:transform .4s cubic-bezier(0.4,0,0.2,1),-webkit-transform .4s cubic-bezier(0.4,0,0.2,1)}
.freestyle-footer .footer-columns .footer-links li a:hover:before{-webkit-transform-origin:left center;transform-origin:left center;-webkit-transform:scale(1,1);transform:scale(1,1)}
.freestyle-footer .k-copyright{position:relative;color:#7F00FF;font-size:.85rem;z-index:2}
.pageloader{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;background-color:#ededed;z-index:999998;transition:-webkit-transform .35s ease-out;transition:transform .35s ease-out;transition:transform .35s ease-out,-webkit-transform .35s ease-out;-webkit-transform:translateX(100%);transform:translateX(100%);will-change:transform}
.pageloader.is-active{-webkit-transform:translateX(0);transform:translateX(0)}
.pageloader.is-theme{background-image:linear-gradient(to bottom,#22005b 0%,#161a31 100%)!important}
.pageloader::after,.pageloader::before{position:absolute;top:50%;left:50%;display:block;border-radius:100%;content:"";z-index:999999}
.pageloader::after{margin-top:-100px;margin-left:-100px;width:200px;height:200px;background-color:rgba(255,255,255,0.5);border:3px solid rgba(255,255,255,0.75);-webkit-animation:page-loader-inner 1.5s infinite ease-out;animation:page-loader-inner 1.5s infinite ease-out}
.pageloader::before{margin-top:-30px;margin-left:-30px;width:60px;height:60px;background-color:#fff;-webkit-animation:page-loader-outer 1.5s infinite ease-in;animation:page-loader-outer 1.5s infinite ease-in}
@-webkit-keyframes page-loader-inner {
0%,40%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@keyframes page-loader-inner {
0%,40%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@-webkit-keyframes page-loader-outer {
0%{-webkit-transform:scale(1);transform:scale(1)}
100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
}
@keyframes page-loader-outer {
0%{-webkit-transform:scale(1);transform:scale(1)}
100%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
}
.infraloader{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;background-color:#22005b;z-index:-1;opacity:0;transition:opacity .35s}
.infraloader.is-active{opacity:1;z-index:999997}
.animated{animation-duration:.5s;animation-fill-mode:both;-webkit-animation-duration:.5s;-webkit-animation-fill-mode:both}
@-webkit-keyframes fadeInUp {
from{-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}
}
@keyframes fadeInUp {
from{-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}
}
.preFadeInUp{opacity:0}
.fadeInUp{opacity:0;-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes levitate {
from{-webkit-transform:translate(0,0);transform:translate(0,0)}
50%{-webkit-transform:translate(0,10px);transform:translate(0,10px)}
to{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
@keyframes levitate {
from{-webkit-transform:translate(0,0);transform:translate(0,0)}
50%{-webkit-transform:translate(0,10px);transform:translate(0,10px)}
to{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
.levitate{-webkit-animation-name:levitate;animation-name:levitate;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
@keyframes rotating {
from{transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg)}
to{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes rotating {
from{transform:rotate(0deg);-webkit-transform:rotate(0deg)}
to{transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}
.rotating{-webkit-animation:rotating 6s linear infinite;animation:rotating 6s linear infinite}
@-webkit-keyframes gelatine {
from,to{-webkit-transform:scale(1,1)}
25%{-webkit-transform:scale(0.9,1.1)}
50%{-webkit-transform:scale(1.1,0.9)}
75%{-webkit-transform:scale(0.95,1.05)}
}
@keyframes gelatine {
from,to{-webkit-transform:scale(1,1);transform:scale(1,1)}
25%{-webkit-transform:scale(0.9,1.1);transform:scale(0.9,1.1)}
50%{-webkit-transform:scale(1.1,0.9);transform:scale(1.1,0.9)}
75%{-webkit-transform:scale(0.95,1.05);transform:scale(0.95,1.05)}
}
.gelatine{-webkit-animation:gelatine .6s;animation:gelatine .6s;-webkit-animation-duration:.6s;animation-duration:.6s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes pulse {
0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
25%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
100%{-webkit-transform:scale(4.5);transform:scale(4.5);opacity:0}
}
@keyframes pulse {
0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
25%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
100%{-webkit-transform:scale(4.5);transform:scale(4.5);opacity:0}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.landing-caption{padding:0 10%}
.landing-caption .divider{margin:0 auto}
.landing-caption h1,.landing-caption h2,.landing-caption p{text-align:center!important}
.landing-caption h1{padding:0 10%}
.feature p{padding:0 25%}
.side-feature-content{text-align:center}
.side-feature-content img{display:block;margin:10px auto}
.side-feature-content .divider{margin:0 auto}
.side-feature-content p{padding:0 12%}
.flying-wrapper ul .item-content{font-size:80%!important}
.team-member-container{margin:0 25%}
}
@media (max-width: 767px) {
.wos{z-index:-1}
.navbar .navbar-item.is-nav-link{text-align:center!important}
.navbar .button.slanted{width:100%!important}
.navbar .navbar-menu.is-active.light-menu{background:#2d0275!important}
.navbar.is-light.is-dark-mobile{background:#2d0275!important}
.landing-caption h1{font-size:3rem!important}
.landing-caption h2{font-size:1.8rem!important}
.side-feature-content{text-align:center}
.side-feature-content img{display:block;margin:10px auto}
.side-feature-content .divider{margin:0 auto}
.flying-wrapper ul a{width:23.8%!important}
.flying-wrapper ul .item-content{font-size:80%!important}
.ico-card{padding:20px 30px!important}
.events-content{min-height:386px}
.is-size-1{font-size:1.8rem!important}
.hero.has-carousel .hero-carousel{max-width:500px}
.is-size-0{font-size:1.2rem!important}
.hero-carousel p{font-size:.8rem}
.slider-navigation-next{right:30%;top:23%}
.slider-navigation-previous{top:23%}
.flying-tabs-container .flying-tabs a{width:32%}
}
@media (min-aspect-ratio: 8/5) {
.headertop .hero-body img{position:absolute;top:0;right:-5%;max-width:50%}
}

@media only screen and (min-width: 1500px){
	.big-triangle::before {border-right: 2010px solid transparent;}
}

